/*	****************************************
	Base
	**************************************** */
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background-image:url("http://wap.eastday.com/thumbnailimg/month_1602/20160209090842389.jpg");
	background-repeat:no-repeat;
	background-position: center; 
	background-attachment: fixed;
	color: #2e1503;
}

p { 
	margin-top: 0;
	line-height:1.75; 
	letter-spacing: 0.5px;
}

h1{
	font-size: 2.5rem;
}

h1{
	font-family: 'Alegreya', serif;
}

article {
	font-family: 'Arimo', sans-serif;
}

article h2 {
	font-family: 'Pacifico', cursive;
	font-size: 1.17rem;
	font-style: italic;
}

article img {
	width: 100%;
}

#first {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(38,38,38,0.2), rgba(38,38,38,0.2)), url("http://img3.100bt.com/upload/ttq/20140112/1389509214794_middle.jpg") no-repeat;
    background-position: center; 
	background-attachment: fixed;
    font-size: 1.4rem;
}

#first h1 {
	text-align: left;
}

#second{
	background: rgba(255,255,255,0.9);
}

#second h1 {
	text-align: center;
	padding-top: 10vh;

}

#formpage {
	background: rgba(255,255,255,0.9);
	background-size: cover; 
}


#formpage h1{
	text-align: center;
	padding-top: 10vh;
}


#content-1 {
	padding-top: 33vh;
}

#content-2 {
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	justify-content: space-between;
	color: black;
	padding-bottom: 10vh;
}

#content-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

}

#learn-more {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #2e1503;
  border: 1px solid #2e1503;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  float: right;
  margin-left: 15px;
}

#learn-more:hover,
#learn-more:active {
  background-color: #fff;
  color: #000;
}

#tag {
	flex: 0 0 60%;
}

#tag a {
	line-height: 1;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
	position: relative;
}

.content{
	text-align: left;
	overflow: auto;
}	

/*nav*/
.main-menu {
	background: #FFAE42!important;
}

.main-menu ul {
	align-items: center!important;
	height: 10vh;
}

.main-menu a {
	color: white;
}

/*section2*/
.article-container {
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	justify-content: flex-start;
}

.article-content {
	flex: 0 0 60%;
}

.box {
  flex: 0 0 20%;
  width: 200px;
  margin: 1.5em;
}

/*General*/
.footer{
	background: rgba(255,255,255,0.9);
	text-align: center;
	float: bottom;
	padding-top: 33vh;
}

.current {
	text-shadow: 2px 4px 3px rgba(40,40,40,0.6), 6px 6px 3px rgba(40,40,40,0.6);
	text-transform: uppercase;
 	}

 	




/*	*************************************
	Layout
	************************************* */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}



/* General style */
.grid-gallery {
	background: rgba(255,255,255,0.99);
	padding-top: 25vh;
}

.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

.grid figcaption {
	background: #e4e4e4;
	padding: 25px;
}

/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 660px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 50px solid #fff;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 200%;
}

/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #31373a;
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
	content: "\e601";
}

span.nav-next:before  {
	content: "\e600";
}

span.nav-close:before {
	content: "\e602";
}

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\e603";
}

.info-keys:after {
	right: 10px;
	content: "\e604";
}

